flows-backup-ultimo.json
[{"id":"ce607311.f76b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9c9bd6c.d8014","type":"mqtt-broker","name":"","broker":"enriquecrespo.com","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b60c822.33bbd8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2adf3ad8.70a3f6","type":"ui_tab","name":"Temperatura","icon":"fa-thermometer","order":1,"disabled":false,"hidden":false},{"id":"40e5bff9.83442","type":"ui_tab","name":"CPU","icon":"fa-laptop","order":2,"disabled":false,"hidden":false},{"id":"134f850c.afb93b","type":"ui_tab","name":"Configuración","icon":"fa-cog","order":4,"disabled":false,"hidden":false},{"id":"442d2115.74418","type":"ui_tab","name":"Memoria","icon":"fa-database","order":3,"disabled":false,"hidden":false},{"id":"81f3f4b3.6dcf78","type":"ui_group","name":"Enrique","tab":"442d2115.74418","order":1,"disp":true,"width":8,"collapse":false},{"id":"c54dcd69.ccfc9","type":"ui_group","name":"Enrique","tab":"2adf3ad8.70a3f6","order":1,"disp":true,"width":8,"collapse":false},{"id":"4d85ca96.272c04","type":"ui_group","name":"Eneko","tab":"2adf3ad8.70a3f6","order":2,"disp":true,"width":8,"collapse":false},{"id":"839c7ee7.7d919","type":"ui_group","name":"Eneko","tab":"40e5bff9.83442","order":2,"disp":true,"width":8,"collapse":false},{"id":"92361b76.3b9a88","type":"ui_group","name":"Enrique","tab":"40e5bff9.83442","order":1,"disp":true,"width":8,"collapse":false},{"id":"d1f2f5f2.c246f8","type":"ui_group","name":"Eneko","tab":"442d2115.74418","order":2,"disp":true,"width":8,"collapse":false},{"id":"a104d837.3d2e68","type":"ui_group","name":"Configuración","tab":"134f850c.afb93b","order":1,"disp":true,"width":"6","collapse":false},{"id":"16410111.ca0eaf","type":"ui_group","name":"Datos","tab":"134f850c.afb93b","order":2,"disp":true,"width":16,"collapse":false},{"id":"4c9d7b7d.05f8b4","type":"ui_tab","name":"Gestion de Ficheros","icon":"fa-file-text","order":5,"disabled":false,"hidden":false},{"id":"189e3a36.d76d66","type":"ui_group","name":"Acciones","tab":"4c9d7b7d.05f8b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"29d32ec2.d0f5b2","type":"ui_group","name":"e-mail","tab":"4c9d7b7d.05f8b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"457c52c6.dee2cc","type":"ui_spacer","name":"spacer","group":"29d32ec2.d0f5b2","order":2,"width":6,"height":1},{"id":"31b598ed.6a9c58","type":"mqtt in","z":"ce607311.f76b","name":"","topic":"aprendiendonodered21/enrique/raspberrypi2/enrique/#","qos":"2","datatype":"auto","broker":"d9c9bd6c.d8014","nl":false,"rap":true,"rh":0,"x":240,"y":140,"wires":[["dcc769b8.4e5608"]]},{"id":"5c44a3b4.2bb56c","type":"mqtt in","z":"ce607311.f76b","name":"","topic":"aprendiendonodered21/enrique/raspberrypi1/enrique/#","qos":"2","datatype":"auto","broker":"d9c9bd6c.d8014","nl":false,"rap":true,"rh":0,"x":240,"y":80,"wires":[["14d9a19a.92481e"]]},{"id":"187df54.4f5a10b","type":"mqtt in","z":"ce607311.f76b","name":"","topic":"aprendiendonodered21/Eneko/raspberrypi2/#","qos":"2","datatype":"auto","broker":"d9c9bd6c.d8014","nl":false,"rap":true,"rh":0,"x":210,"y":260,"wires":[["212c9d3f.57dd02"]]},{"id":"ba4ecb73.dde288","type":"mqtt in","z":"ce607311.f76b","name":"","topic":"aprendiendonodered21/Eneko/raspberrypi1/#","qos":"2","datatype":"auto","broker":"d9c9bd6c.d8014","nl":false,"rap":true,"rh":0,"x":210,"y":200,"wires":[["4d76fbc5.91de54"]]},{"id":"c7515d53.a95fe","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"c54dcd69.ccfc9","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":40,"wires":[]},{"id":"14d9a19a.92481e","type":"switch","z":"ce607311.f76b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"CPU","vt":"str"},{"t":"cont","v":"Mem","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":80,"wires":[["c7515d53.a95fe","e555b1c1.42929"],["a9a6e4a7.a86ad8","500abb72.51a174"],["190840fe.16e71f","7185ea61.328404"]]},{"id":"a9a6e4a7.a86ad8","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"92361b76.3b9a88","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":80,"wires":[]},{"id":"190840fe.16e71f","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"81f3f4b3.6dcf78","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":120,"wires":[]},{"id":"1bf3b967.5796f7","type":"ui_slider","z":"ce607311.f76b","name":"","label":"Max Temperatura","tooltip":"","group":"a104d837.3d2e68","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":130,"y":380,"wires":[[]]},{"id":"3015b2f9.66e86e","type":"ui_dropdown","z":"ce607311.f76b","name":"","label":"","tooltip":"","place":"Select option","group":"a104d837.3d2e68","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"RaspberryPi 1 Enrique","value":"rpi1_enrique","type":"str"},{"label":"RaspberryPi 2 Enrique","value":"rpi2_enrique","type":"str"},{"label":"RaspberryPi 1 Eneko","value":"rpi1_eneko","type":"str"},{"label":"RaspberryPi 2 Eneko","value":"rpi2_eneko","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":110,"y":320,"wires":[[]]},{"id":"f89808d7.7e3048","type":"ui_slider","z":"ce607311.f76b","name":"","label":"Max CPU","tooltip":"","group":"a104d837.3d2e68","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":100,"y":440,"wires":[[]]},{"id":"45200598.1f9f3c","type":"ui_slider","z":"ce607311.f76b","name":"","label":"Max Memoria","tooltip":"","group":"a104d837.3d2e68","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"200","step":1,"x":120,"y":500,"wires":[[]]},{"id":"a675ec55.a23dc","type":"ui_table","z":"ce607311.f76b","group":"16410111.ca0eaf","name":"","order":1,"width":0,"height":0,"columns":[{"field":"Usuario","title":"Usuario","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Dispositivo","title":"Dispositivos","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Parámetro","title":"Parámetro","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Valor Alerta","title":"Valor Alerta","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":90,"y":560,"wires":[]},{"id":"1e2ceae2.adde75","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"c54dcd69.ccfc9","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"dcc769b8.4e5608","type":"switch","z":"ce607311.f76b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"CPU","vt":"str"},{"t":"cont","v":"Mem","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":200,"wires":[["1e2ceae2.adde75","b641af7f.2241"],["b48c02ed.1b35e","eec60900.894828"],["4292e656.70df28","30480cd2.6ec594"]]},{"id":"b48c02ed.1b35e","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"92361b76.3b9a88","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"4292e656.70df28","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"81f3f4b3.6dcf78","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"4d76fbc5.91de54","type":"switch","z":"ce607311.f76b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"CPU","vt":"str"},{"t":"cont","v":"Mem","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":320,"wires":[["87fa9616.6b4048","63b0665.364f598"],["de0a1c2e.54af6","7d1c5660.a487c8"],["cd583a59.c1bab8","56c1125c.763e8c"]]},{"id":"87fa9616.6b4048","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"4d85ca96.272c04","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"de0a1c2e.54af6","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"839c7ee7.7d919","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":320,"wires":[]},{"id":"cd583a59.c1bab8","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"d1f2f5f2.c246f8","order":1,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"212c9d3f.57dd02","type":"switch","z":"ce607311.f76b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Temp","vt":"str"},{"t":"cont","v":"CPU","vt":"str"},{"t":"cont","v":"Mem","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":440,"wires":[["1370b10d.e14f3f","b84f6d36.e2e7e"],["307bbe05.1e9a72","346bbdf7.3fb212"],["d79a1de9.4a6cb","6b3c03ce.c5ee1c"]]},{"id":"1370b10d.e14f3f","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"4d85ca96.272c04","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":400,"wires":[]},{"id":"307bbe05.1e9a72","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"839c7ee7.7d919","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":440,"wires":[]},{"id":"d79a1de9.4a6cb","type":"ui_gauge","z":"ce607311.f76b","name":"","group":"d1f2f5f2.c246f8","order":2,"width":4,"height":3,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":480,"wires":[]},{"id":"e555b1c1.42929","type":"ui_chart","z":"ce607311.f76b","name":"","group":"c54dcd69.ccfc9","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":60,"wires":[[]]},{"id":"500abb72.51a174","type":"ui_chart","z":"ce607311.f76b","name":"","group":"92361b76.3b9a88","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":100,"wires":[[]]},{"id":"7185ea61.328404","type":"ui_chart","z":"ce607311.f76b","name":"","group":"81f3f4b3.6dcf78","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":140,"wires":[[]]},{"id":"b641af7f.2241","type":"ui_chart","z":"ce607311.f76b","name":"","group":"c54dcd69.ccfc9","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":180,"wires":[[]]},{"id":"eec60900.894828","type":"ui_chart","z":"ce607311.f76b","name":"","group":"92361b76.3b9a88","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":220,"wires":[[]]},{"id":"30480cd2.6ec594","type":"ui_chart","z":"ce607311.f76b","name":"","group":"81f3f4b3.6dcf78","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":260,"wires":[[]]},{"id":"63b0665.364f598","type":"ui_chart","z":"ce607311.f76b","name":"","group":"4d85ca96.272c04","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":300,"wires":[[]]},{"id":"7d1c5660.a487c8","type":"ui_chart","z":"ce607311.f76b","name":"","group":"839c7ee7.7d919","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":340,"wires":[[]]},{"id":"56c1125c.763e8c","type":"ui_chart","z":"ce607311.f76b","name":"","group":"d1f2f5f2.c246f8","order":3,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":380,"wires":[[]]},{"id":"b84f6d36.e2e7e","type":"ui_chart","z":"ce607311.f76b","name":"","group":"4d85ca96.272c04","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":420,"wires":[[]]},{"id":"346bbdf7.3fb212","type":"ui_chart","z":"ce607311.f76b","name":"","group":"839c7ee7.7d919","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":460,"wires":[[]]},{"id":"6b3c03ce.c5ee1c","type":"ui_chart","z":"ce607311.f76b","name":"","group":"d1f2f5f2.c246f8","order":4,"width":4,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":500,"wires":[[]]},{"id":"e1d9d5e.b274e28","type":"ui_button","z":"ce607311.f76b","name":"","group":"189e3a36.d76d66","order":1,"width":0,"height":0,"passthru":false,"label":"Borra datos","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":600,"wires":[[]]},{"id":"bd93698e.657008","type":"ui_button","z":"ce607311.f76b","name":"","group":"189e3a36.d76d66","order":2,"width":0,"height":0,"passthru":false,"label":"Envía Datos","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":640,"wires":[[]]},{"id":"f3fd1bf3.ca2e18","type":"ui_form","z":"ce607311.f76b","name":"","label":"","group":"29d32ec2.d0f5b2","order":1,"width":0,"height":0,"options":[{"label":"Nombre","value":"nombre","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null}],"formValue":{"nombre":"","email":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":330,"y":600,"wires":[[]]},{"id":"8037bdba.66696","type":"ui_text","z":"ce607311.f76b","group":"29d32ec2.d0f5b2","order":3,"width":6,"height":2,"name":"","label":"Emails","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":640,"wires":[]}]